<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>A form with the following inputs and validators</li>
        <li>1. Project Name should not be empty</li>

        <li>2. Mail Address (Should not be empty and should be valid email)</li>
        <li>3. Project Status dropdown, with three values Stable, Critical,Finished </li>
        <li>4. A submit button </li>
        <li>Add your own validator which doesn't allow "test" as a project Name </li>
        <li>Also implement asyn validator that doesn't allow "testProjectName"</li>
      </ol>
    </div>
  </div>



  <app-reactive-form></app-reactive-form>


</div>